<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Trading Bot</title>
</head>
<body>
    <h1>Crypto Trading Bot</h1>

    <!-- Форма для выбора инструмента, таймфрейма и индикатора -->
    <form method="POST">
        <label for="instrument">Instrument:</label>
        <select name="instrument" id="instrument">
            {% for instrument in instruments %}
                <option value="{{ instrument.symbol }}">{{ instrument.symbol }}</option>
            {% endfor %}
        </select>

        <label for="timeframe">Timeframe:</label>
        <select name="timeframe" id="timeframe">
            {% for timeframe in timeframes %}
                <option value="{{ timeframe.interval_name }}">{{ timeframe.interval_name }}</option>
            {% endfor %}
        </select>

        <label for="indicator">Indicators:</label>
        <select name="indicator" id="indicator">
            <option value="">-- Select Indicator --</option>
            {% for indicator_type in indicator_types %}
                <option value="{{ indicator_type }}">{{ indicator_type }}</option>
            {% endfor %}
        </select>

        <button type="submit">Построить график</button>
    </form>

    <!-- Отображение графика -->
    {% if image %}
        <h2>Generated Graph:</h2>
        <img src="data:image/png;base64,{{ image }}" alt="Generated Graph" />
    {% endif %}

    <!-- Отображение индикаторов -->
    {% if indicators %}
        <h2>Indicator Data:</h2>
        <ul>
            {% for indicator in indicators %}
                <li>{{ indicator[0] }}: {{ indicator[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
